.slider{
position:relative;
width:500px;
height:500px;
margin:auto;
overflow:hidden;
border-radius:10px;
box-shadow: 0 0 10px #aaa;
}

.slides{
display:flex;
width:100%;
height:100%;
transition:transform 0.5s ease;
}

.slides img{
width:500px;
height:500px;
}

.btn{
position:absolute;
top:50%;
transform:translateY(-50%);
background:black;
color:white;
border:none;
padding:10px;
cursor:pointer;
}

.prev{
left:10px;
}

.next{
right:10px;
}
